 .featured-slider section{
    padding: var(--padding_top) 0 var(--padding_bottom); 
    }


    .featured-slide{
        padding-left:  180px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 100px;
    background-position: center center;
    }

    .featured-slide h5{ 
        font-weight: 600; 
        font-size: 25px; 
        line-height: 90%;
        letter-spacing: 0%;
        margin-bottom: 30px;
        color: rgba(var(--color-button), var(--alpha-button-background));

    }
    .featured-slide h2{  
        font-weight: 600; 
        font-size: 70px; 
        line-height: 100%;
        letter-spacing: 0%; 
        max-width: var(--title_max_width);
        margin-bottom: 40px;
    }
    .featured-slide p{   
        font-weight: 400; 
        font-size: 17px;  
        line-height: 150%;
        letter-spacing: 0%;
        max-width: var(--content_max_width);
        margin-bottom: 60px;

    }
.feature-slide-content {
    position: relative;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
    .featured-image-slider{

    position: relative;
    }
.feature-slide-content .bottomtext{
    display: block; 
font-weight: 600; 
font-size: 14px; 
line-height: 100%;
letter-spacing: 0%;
margin-top:80px;
opacity: 0.5;

}
    .featured-image-slider::before{
        content: "";
        background: linear-gradient(88.08deg, #06123D 29.67%, rgba(6, 18, 61, 0.46) 56.22%, rgba(6, 18, 61, 0) 70.2%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    }


.featured-image-slider .icons{ 
    display: flex;
    align-items: center;
    gap: 22px;
 
    }
.featured-image-slider .icons img {
    width: auto;
    max-height: 40px;
}
  .featured-slider .swiper-slide-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 35px;
}
.featured-slider .swiper-slide-control .swiper-pagination{
    width: auto;
}
    .featured-slider .swiper-slide-control .swiper-button-next{
            position: relative;
            margin-top: 0 !important;
    }
    .featured-slider .swiper-slide-control .swiper-button-prev{
            position: relative;
            margin-top: 0 !important;
    }

 


       .offer-badge{
        width: var(--badge_width);
        bottom: var(--vertical);
        right: var(--horizontal);

        position: absolute;
        transform: translate(var(--horizontal), var(--vertical));
       }
      .offer-badge h4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    position: absolute;
    top: 50%;
    padding: 20px;
    left: 0;
    transform: translateY(-50%);
}
       .offer-badge img{
            width: 100%;
            height: 100%;
       }


    .featured-product-slide-price{

    display: flex;
    gap: 35px;
    align-items: center;
    }
    .featured-product-slide-price .slide_price{

    background-color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
    padding:8px 37px 2px;
    border-radius: 100px;
    }
    .featured-product-slide-price .slide_compare_at_price{
    font-size: 25px;
    font-weight: 400;
    position:relative;
    }

    .featured-product-slide-price .slide_compare_at_price::after {
    content: "";
    background: #FF0000;
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 2px; 
    transform: rotate(-15deg);
}


.featured-video-slider{
    position: relative;
}
.featured-video-slider .featured-video {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    height: 100%;
  

    object-position: center;
    object-fit: cover;
}

       @media(max-width:767px){

.featured-slide {
    padding-left: 0; 
    border-radius: 100px; 
        background-image: url() !important;        
        display: flex;
}
.featured-slide h2 { 
    font-size: 45px; 
    margin-bottom: 18px;
}
.featured-slide h5 { 
    font-size: 20px; 
    margin-bottom: 14px; 
}
.feature-slide-content { 
    min-height: 0; 
    padding: 40px 30px;
}
.featured-image-slider::before{
    content: none;
}
       .offer-badge{
        width: var(--badge_width_phone);
        bottom: var(--vertical_phone);
        right: var(--horizontal_phone);
        transform: translate(var(--horizontal_phone), var(--vertical_phone));
       }


       .featured-video-slider .featured-video {
            position: static;
            width:100%;
       }

       }