:root{
    --nohemi: 'Nohemi' ;
}
*{
    font-family: var(--nohemi) ;

 

}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    margin: 0;
    line-height: 100%;
    letter-spacing: 0%;
}
strong{
    color:rgba(var(--color-button), var(--alpha-button-background));

    font-weight: 600;
}
.title_small{
    font-size: 24px;
}
.title_medium{
    font-size: 32px;
}
.title_large{
    font-size: 65px; 
}
.title_extralarge{
    font-size: 85px;
}
.title_extraextralarge{
    font-size: 95px;
} 

 p{
    letter-spacing: 5%;
    line-height: 150%;
    font-size: 17px;
    font-weight: 400;

 }

 *:focus-visible {
    outline: none;
    outline-offset: none;
    box-shadow: none;
}